{% block footer %}
    <footer class="footer">
        <ul class="footerInformations">
            <li class="footerContentInformations">QUI SOMMES NOUS?</li>
            <li class="footerContentInformations">COMMENT ÇA MARCHE</li>
            <li class="footerContentInformations">FAQ</li>
            <li class="footerContentInformations">NEWS</li>
            <li class="footerContentInformations">PRESSE</li>
            <li class="footerContentInformations">CGV</li>
        </ul>
        <div class="footerJoinUs">REJOIGNEZ NOUS SUR LES RÉSEAUX SOCIAUX !</div>
        <div>
            <div class="footerSocial"><i class="fa fa-twitter fa-2x footerSocialImg" aria-hidden="true"></i></div>
            <div class="footerSocial"><i class="fa fa-facebook fa-2x footerSocialImg" aria-hidden="true"></i></div>
            <div class="footerSocial"><i class="fa fa-instagram fa-2x footerSocialImg" aria-hidden="true"></i></div>
            <div class="footerSocial"><i class="fa fa-snapchat-ghost fa-2x footerSocialImg" aria-hidden="true"></i></div>
        </div>
        <div class="footerCopyright">©2016 Kicks bank. tous droits réservés</div>
    </footer>
{% endblock %}